* {
    text-decoration: none;
}

body {
    background-color: #19242c;
    color: rgb(33, 41, 49);
    position: relative;
    z-index: 0;
    
    font-family: Merriweather, Georgia, serif;
    line-height: 45px;
}


/*======================================================== HEADER ========================================================*/
/*======================================================== HEADER ========================================================*/
/*======================================================== HEADER ========================================================*/


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
	position: fixed;

    background-color: #3c424d; 
    width: 100%;
    height: 12vh;
}

/* LOGO */

header .header-logo {
	display: flex;
	justify-content: space-around;
    text-align: center;
	align-content:center;
	
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 34px;
    font-weight: bold;
	width: 50%;
}

/* NAVIGATION */

nav {
	display: flex;
	justify-content: space-around;
	align-content: center;
	text-align: center;
    top: 12vh;
    width: 50%;
    padding: 2% 0 ;
}

nav ul {
    display: flex;
	justify-content: space-around;
	align-content: center;
	text-align: center;
    width: 50%;
}

nav ul li {
    list-style: none;
    padding: 40px 20px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: #ccc;
}

/* BURGER */

.nav-active {
    position: fixed; 
    top: 12vh;
    width: 100%;
    padding: 2% 0 ;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    transform: translateY(0%);
}

@media only screen and (max-width: 800px) {
	nav {
		position: absolute;
        display:inline;
        width: 70%;
	}

	nav ul {
		display: inline;
		position: fixed; 
		top: 12vh;
		right: -3%;
        width: 0%;
        height: 100%;
        background: #19242c;
	}
	
	nav ul li{
        display: block;
        text-align: center;
        align-content: center;
        padding: calc((100vh - 12vh)/16) 0;
    }
    
    nav ul li a{
        display: flex;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        padding: 30px;
    }

    nav ul li a:hover{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

	header .header-logo {
		width: 70%;
	}
	
	/* BURGER */
	
	header .burger {
		display: block;
		width: 15%;
		
	}

	header .burger div {
		height: 3px;
		width: 32px;
		background-color: #ffffff;
		margin-bottom: 7px;
    }
}

.fixedPosition {
    overflow: hidden;
}


/*======================================================== ABOUT ========================================================*/
/*======================================================== ABOUT ========================================================*/
/*======================================================== ABOUT ========================================================*/


.index-about {
    width: 95%;
    display: block;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #ffffff;

    /* background-image: url('../img/code.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.index-about .img {
    display: block;
    margin: 0 auto;
    padding: calc((100vh / 2) - 200px) 0 10px 0;
} 

.index-about img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    
    display: block;
    margin: 0 auto;
    padding: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
}

.index-about h1 {
    width: 70%;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    color: #333;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.index-about p {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    color: #333;
    font-size: 20px;
    text-align: center;
}

.index-about .header-button {
    display: block;
    margin: 30px auto;
    padding: 15px 40px;

    background-color: #ffffff;
    border: 2px solid #333;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 800px) {
    .index-about {
        width: 100%;
    }

    .index-about img {
        width: 160px;
        height: 160px;
        padding: 8px;
    }
    
    .index-about h1 {
        width: 70%;
        padding: 20px 0;
        margin: 0 auto;
        color: #333;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
    }
    
    .index-about p {
        font-size: 19px;
        text-align: center;
        line-height: 25px;
    }
}


/*======================================================== PROJECTS ========================================================*/
/*======================================================== PROJECTS ========================================================*/
/*======================================================== PROJECTS ========================================================*/


.index-projects {
    width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
}

.index-projects .row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-top: 3px solid #eeeeee;
}

.index-projects .border {
    border: 2px solid #eeeeee;
}

.index-projects .project {
    display: flex;
	justify-content: space-around;
	align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.index-projects .col-content h1 {
    margin: 80px auto;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-family: 'Lexend Giga', sans-serif;
    width: 70%;
}

.index-projects img {
    width: 90%;
    margin-bottom: 60px
}

.index-projects .col-content p {
    font-size: 20px;
    margin-bottom: 60px;
    font-family: Merriweather, Georgia, serif;
    text-align: justify;
    line-height: 45px;
}

.index-projects .button {
    display: block;
    margin: 0 auto;
    border: 2px solid #19242c;
    width: 30%;
    padding: 10px 0;
    margin-bottom: 40px;
}

.index-projects .button a {
    color: #19242c;
    text-decoration: none;
    font-size: 19px;
    font-weight: 900;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}


@media only screen and (max-width: 800px) {
    .index-projects .row {
        grid-template-columns: auto;
    }
    .index-projects {
        width: 100%;
    }

    .index-projects .project {
        height: fit-content;
    }

    .index-projects .col-content h1 {
        margin: 40px auto;
        font-size: 30px;
        width: 100%;
        line-height: 34px;
        margin-top: 80px;
    }
    
    .index-projects img {
        width: 100%;
        margin-bottom: 40px
    }
    
    .index-projects .col-content p {
        font-size: 17px;
        margin-bottom: 40px;
        line-height: 28px;
    }

    .index-projects .button {
        border: 2px solid #19242c;
        width: 100%;
        margin-bottom: 40px;
    }

    .index-projects .button a {
        color: #19242c;
        text-decoration: none;
        font-size: 16px;
    }
}


/*======================================================== CONTACT FORM ========================================================*/
/*======================================================== CONTACT FORM ========================================================*/
/*======================================================== CONTACT FORM ========================================================*/


.index-contact {
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.index-contact .form-email {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 0;
    width: 80%;
}

.index-contact h1 {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    padding: 50px 0 20px 0;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.index-contact .form-subject {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 0;
    width: 80%;
}

.index-contact .form-text {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 0;
    width: 80%;
}

.index-contact p {
    padding-bottom: 20px;
    font-size: 18px
}

.index-contact input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
}

.index-contact .cotact-button {
    display: block;
    margin: 10px auto;
    padding: 10px 40px;
    margin-bottom: 50px;

    background-color: #ffffff;
    border: 2px solid #333;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 800px) {
    .index-contact .cotact-button {
        display: block;
        margin: 10px auto;
        padding: 10px 40px;
        margin-bottom: 50px;
    
        background-color: #f5f5f5;
        border: 2px solid #333;
        font-family: 'Roboto Slab', serif;
    }
}


/*======================================================== FOOTER ========================================================*/
/*======================================================== FOOTER ========================================================*/
/*======================================================== FOOTER ========================================================*/


footer {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    margin: 0;
    background-color: #3c424d;
}

footer p {
    grid-column: 1/4;
    grid-row: 2;
    display: block;
    align-content: center;
    margin: 50px 0 5px 0;
    color: #ffffff;
    font-size: 14px;
}

footer .fa {
    color: #ffffff;
    
}

@media only screen and (max-width: 800px) {
    .index-contact {
        width: 100%;
    }
}
